<a href="https://colab.research.google.com/github/Rioba-Ian/Deep_Learning/blob/main/Predicting_Genuine_bank_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting if a bank note is genuine or not.

## About the data
The data was extracted from images that were taken for the evaluation of an authentication procedure for banknotes. Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually for print inspection was used. The final images have 400 x 400 pixels. Due to the object lens and distance to the investigated object grey-scale pictures with a resolution of about 680 dpi were gained. Wavelet Transform tool was used to extract features from images. 
To load the training data in your jupyter notebook, use the below command:

In [34]:
import pandas as pd

bank_note_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/training_set_label.csv")

In [35]:
bank_note_data.head(5)

     VWTI     SWTI     CWTI        EI  Class
0  2.2634  -4.4862   3.6558 -0.612510      0
1  3.2718   1.7837   2.1161  0.613340      0
2 -3.9411 -12.8792  13.0597 -3.312500      1
3  0.5195  -3.2633   3.0895 -0.984900      0
4  2.5698  -4.4076   5.9856  0.078002      0

# data description
* VWTI - variance of wavelet transformed image
* SWTI - skewness of wavelet transformed image
* CWTI - Curtosis of wavelet transformed image
* EI - entropy of image
* Class  - 1 : genuine, 0 : forged

In [36]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/testing_set_label.csv')

In [37]:
bank_note_data.shape

(1096, 5)

In [38]:
test_data.shape

(275, 4)

In [39]:
bank_note_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VWTI    1096 non-null   float64
 1   SWTI    1096 non-null   float64
 2   CWTI    1096 non-null   float64
 3   EI      1096 non-null   float64
 4   Class   1096 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 42.9 KB

In [40]:
import numpy as np
import matplotlib.pyplot as plt

In [41]:
X = bank_note_data.drop('Class', axis=1)
y = bank_note_data['Class']

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
X_train.shape

(876, 4)

In [44]:
import tensorflow as tf

In [45]:
model = tf.keras.Sequential([
                 tf.keras.layers.Dense(8, input_shape=(4, ), activation='relu'),
                 tf.keras.layers.Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 8)                 40
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 49
Trainable params: 49
Non-trainable params: 0
_________________________________________________________________

In [46]:
# compiling the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# fit the model
model.fit(X_train, y_train,validation_split=0.1,epochs = 15)

Epoch 1/15
25/25 [==============================] - 1s 10ms/step - loss: 0.6139 - accuracy: 0.5726 - val_loss: 0.5044 - val_accuracy: 0.7386
Epoch 2/15
25/25 [==============================] - 0s 4ms/step - loss: 0.5146 - accuracy: 0.7070 - val_loss: 0.4492 - val_accuracy: 0.7614
Epoch 3/15
25/25 [==============================] - 0s 3ms/step - loss: 0.4314 - accuracy: 0.7733 - val_loss: 0.4062 - val_accuracy: 0.7614
Epoch 4/15
25/25 [==============================] - 0s 3ms/step - loss: 0.3846 - accuracy: 0.7987 - val_loss: 0.3694 - val_accuracy: 0.8182
Epoch 5/15
25/25 [==============================] - 0s 3ms/step - loss: 0.3821 - accuracy: 0.8032 - val_loss: 0.3389 - val_accuracy: 0.8523
Epoch 6/15
25/25 [==============================] - 0s 4ms/step - loss: 0.3452 - accuracy: 0.8450 - val_loss: 0.3094 - val_accuracy: 0.8977
Epoch 7/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2928 - accuracy: 0.8744 - val_loss: 0.2852 - val_accuracy: 0.8977
Epoch 8/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2845 - accuracy: 0.8883 - val_loss: 0.2636 - val_accuracy: 0.9091
Epoch 9/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2600 - accuracy: 0.9052 - val_loss: 0.2444 - val_accuracy: 0.9091
Epoch 10/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2397 - accuracy: 0.9142 - val_loss: 0.2276 - val_accuracy: 0.9205
Epoch 11/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2424 - accuracy: 0.9073 - val_loss: 0.2115 - val_accuracy: 0.9205
Epoch 12/15
25/25 [==============================] - 0s 4ms/step - loss: 0.2164 - accuracy: 0.9179 - val_loss: 0.1984 - val_accuracy: 0.9205
Epoch 13/15
25/25 [==============================] - 0s 3ms/step - loss: 0.2020 - accuracy: 0.9289 - val_loss: 0.1853 - val_accuracy: 0.9205
Epoch 14/15
25/25 [==============================] - 0s 3ms/step - loss: 0.1986 - accuracy: 0.9288 - val_loss: 0.1743 - val_accuracy: 0.9205
Epoch 15/15
25/25 [==============================] - 0s 3ms/step - loss: 0.1642 - accuracy: 0.9628 - val_loss: 0.1651 - val_accuracy: 0.9318

In [47]:
model.evaluate(X_test, y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.1429 - accuracy: 0.9636

[0.14287973940372467, 0.9636363387107849]

In [48]:
test_data.head()

      VWTI      SWTI      CWTI       EI
0 -0.40804   0.54214  -0.52725  0.65860
1 -3.71810  -8.50890  12.36300 -0.95518
2  5.50400  10.36710  -4.41300 -4.02110
3  1.68490   8.74890  -1.26410 -1.38580
4  4.74320   2.10860   0.13680  1.65430

In [49]:
bank_note_predictions =model.predict(test_data)

In [50]:
predictions = [1 if x>= 0.5 else 0 for x in bank_note_predictions]

In [51]:
predictions[0]

1

In [54]:
test_data['y_hat'] = predictions

In [55]:
test_data.head()

      VWTI      SWTI      CWTI       EI  y_hat
0 -0.40804   0.54214  -0.52725  0.65860      1
1 -3.71810  -8.50890  12.36300 -0.95518      1
2  5.50400  10.36710  -4.41300 -4.02110      0
3  1.68490   8.74890  -1.26410 -1.38580      0
4  4.74320   2.10860   0.13680  1.65430      0

In [56]:
test_data.to_csv('test_data.csv', index=False)